<nav class="navbar">
  <a class="navbar-brand" href="#">
    <img
      src="assets/images/logo.png"
      alt="Oameni pentru Oameni"
      class="navbar-logo"
    />
  </a>

  <div class="navbar-links">
    <a href="#">Acasă</a>
    <a href="#impact">Impact</a>
    <a href="#contributors">Contribuitori</a>
    <a href="#about">Despre noi</a>
    <a href="#get-involved">Implică-te</a>
  </div>

  <div class="navbar-actions">
    <a class="login-link" href="#">
      Autentificare
    </a>

    <a class="nav-button" href="#get-involved">
      Donează
    </a>
  </div>
</nav>